/* Coolors Exported Palette - https://coolors.co/000000-cf5c36-eee5e9-7c7c7c-efc88b */

/* CSS HEX */
--black: #000000ff;
--spicy-paprika: #cf5c36ff;
--lavender-blush: #eee5e9ff;
--grey: #7c7c7cff;
--apricot-cream: #efc88bff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--spicy-paprika: hsla(15, 61%, 51%, 1);
--lavender-blush: hsla(333, 21%, 92%, 1);
--grey: hsla(0, 0%, 49%, 1);
--apricot-cream: hsla(37, 76%, 74%, 1);

/* SCSS HEX */
$black: #000000ff;
$spicy-paprika: #cf5c36ff;
$lavender-blush: #eee5e9ff;
$grey: #7c7c7cff;
$apricot-cream: #efc88bff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$spicy-paprika: hsla(15, 61%, 51%, 1);
$lavender-blush: hsla(333, 21%, 92%, 1);
$grey: hsla(0, 0%, 49%, 1);
$apricot-cream: hsla(37, 76%, 74%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$spicy-paprika: rgba(207, 92, 54, 1);
$lavender-blush: rgba(238, 229, 233, 1);
$grey: rgba(124, 124, 124, 1);
$apricot-cream: rgba(239, 200, 139, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);
$gradient-right: linear-gradient(90deg, #000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);
$gradient-left: linear-gradient(270deg, #000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);
$gradient-radial: radial-gradient(#000000ff, #cf5c36ff, #eee5e9ff, #7c7c7cff, #efc88bff);